<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Document</title>
    {% block header %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size: 2rem;">Todo App</a>
        </div>
      </nav>
    {% block body %}{% endblock %}
</body>
</html>