{% extends 'base.html' %}

{% block body %}
<a class="btn btn-primary btn-lg m-5" href="/create" role="button">CREATE NEW TASK</a>
{% for post in posts %}
<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">
        <h2 class="card-title">タイトル : {{ post.title }}</h2
        <p>期限 : {{ post.due.date() }}</p>
        {% if post.due.date() < today %}
            <div class="alert alert-danger" role="alert">
                期限切れのタスクです!
            </div>
        {% endif %}
        <a class="btn btn-secondary btn-sm" href="detail/{{ post.id }}" role="button">Detail</a>
        <a class="btn btn-success btn-sm" href="update/{{ post.id }}" role="button">Update</a>
        <a class="btn btn-danger btn-sm" href="delete/{{ post.id }}" role="button">Delete</a>
    </div>
</div>


{% endfor %}
{% endblock %}