{% extends 'base.html' %}

{% block body %}
<form action="/update/{{ post.id }}" method="POST">
    <div class="mb-3 pb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{ post.title }}">
    </div>
    <div class="mb-3 pb-3">
        <label for="details">Details</label>
        <input type="text" class="form-control" name="detail" value="{{ post.detail }}">
    </div>
    <div class="mb-3 pb-3">
        <label for="due">Due</label>
        <input type="date" name="due" value="{{ post.due.date() }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
    <a class="btn btn-outline-primary" href="/" role="button">Return</a>
</form>
{% endblock %}